body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    height: 489px;    
}


.logo1 {
    float: left;
    padding: 60px 0px 0px 220px;
}

.logo3 {
    position: absolute;
    text-align: left;
    color: #fff;
    padding: 256px 0px 0px 655px;
}

.logo3 h1 {
    font-size: 65px;
    margin: 0;
}

.logo3 h2 {
    font-size: 45px;
    margin: 0;
}

.button {
    display:contents;
    font-size: 23px;
    border: 2px solid;
    border-color: #181e1b;
    background-color: #2a6f4f;
    text-align: left;
    padding: 9px 23px;
    margin: 20px 202px 0px 0px;
}

.cofe {
    position: absolute;
    display: contents;
    padding: 198px 0px 0px 249px;
}

nav {
    display: inline-table;
    float: right;
}

.tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin: 93px 128px 53px 128px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 27px;
}

.bro1 {
    display: block;
    float: left;
    padding: 0px 50px 0px 128px;
}

.bro2 {
    display: block;
    size: 32px;
    color: #4f4f4f;
}

.form {
    display: inline-flex;
    padding-left: 128px;
    flex-basis: 470px;
}

.form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 110px;
    width: 470px;
    background-color: #e67624;
    border-radius: 5px;
}

.form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 110px;
    width: 470px;
    background-color: #01d4f3;
    border-radius: 5px;
}

.form3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.formD {
    display: flex;
    flex-basis: 68px;
}


.input1 {
    height: 28px;
    width: 155px;
    margin: 0;
    padding: 0;
}

.input2 {
    height: 28px;
    width: 265px;
    margin: 0;
    padding: 0;
}

.button1 {
    height: 30px;
    width: 95px;
}

.button2 {
    height: 30;
    width: 112;
}